.DS_Store
_ReSharper*
obj
*.suo
*.bak
*.pdb
*.user
*.Cache*
.settings
.project
Release
bin
!publish/bin
Thumbs.db
aspnet_client
node_modules
npm-debug.log
app.js
app.css
*.ractivable.min.cshtml
*.compiled.html
bower_components
